<h1>"Witches"</h1>

<p>To initiate this prank accummulate ingredients for your potion: Eye of Newt, Fairy Wings, Blood Meal, Crow feathers.</p>

<p>Stir to a boil. Pour the finished potion on your victim. The prankee <%= @madlib.word1.name %> as your potion changes this person into the __noun__ creature, %></p><%=  %>

<p> "your victim __adjective__ while you are overcome with glee.
The __noun__, __adjective__ state in which you have left your victim should only last a day or two."</p>
