
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

<body class="home-body-color">


<h1 class="fright-title">WELCOME TO FRIGHT-<span class= "text-flicker-in-glow madlib-word">O-MATIC!</span></h1>

<div class="row">
    <div class="col s12 m6">
      <div class="card black darken-1">
        <div class="card-content white-text">
          <span class="card-title">PLAY THE GAME IF YOU DARE...</span>
          <p class="animated flash slow category-button">CLICK THE 'CATEGORIES' BUTTON BELOW TO BEGIN
          </p>
        </div>
        <div class="card-action">

        </div>
      </div>
    </div>
  </div>

<div class="img-holder">
  <img src="assets/halloween_2.jpg" id="pumpkin" alt="smoking pumpkin">
</div>

<div>
<a class="categories"><%= link_to "CATEGORIES", category_index_path, class: 'waves-effect waves-light btn-large dark grey src-link' %></a>
</div>

</body>

</html>
