@import 'animate';

.madlib-word {
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.witch-word {
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.category-button {
  animation-iteration-count: 5;
}

@charset "UTF-8";

// Color
@import "materialize/components/color-variables";
@import "materialize/components/color-classes";

// Variables;
@import "materialize/components/variables";

// Reset
@import "materialize/components/normalize";

// materialize/components
@import "materialize/components/global";
@import "materialize/components/badges";
@import "materialize/components/icons-material-design";
@import "materialize/components/grid";
@import "materialize/components/navbar";
@import "materialize/components/typography";
@import "materialize/components/transitions";
@import "materialize/components/cards";
@import "materialize/components/toast";
@import "materialize/components/tabs";
@import "materialize/components/tooltip";
@import "materialize/components/buttons";
@import "materialize/components/dropdown";
@import "materialize/components/waves";
@import "materialize/components/modal";
@import "materialize/components/collapsible";
@import "materialize/components/chips";
@import "materialize/components/materialbox";
// @import "materialize/components/forms/forms";
@import "materialize/components/table_of_contents";
@import "materialize/components/sidenav";
@import "materialize/components/preloader";
@import "materialize/components/slider";
@import "materialize/components/carousel";
@import "materialize/components/tapTarget";
@import "materialize/components/pulse";
@import "materialize/components/datepicker";
@import "materialize/components/timepicker";

 @import "https://fonts.googleapis.com/icon?family=Material+Icons";

// WELCOME / INDEX PAGE //

body {
  margin: 20px;
}

.fright-title {
  // color: red;
  font-size: 80px;
  font-weight: 900;
}


.pumpkin {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.btn-floating.btn-large {
  width: 100px;
  height: 56px;
}

// .img-holder {position: relative;}
.src-link {
    position: absolute;
    top: 700px; /*your button position*/
    left: 900px;
    // right: 10px; /*your button position*/
}

.btn-large {
  color: black;
  font-weight: 900;
}

// CATEGORIES PAGE //
body {
  background-color: #9b2204;
}

.column-color {
  background-color: black;
}

a {
   color: black;
   font-weight: 900;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.title {
  // color: red;
  text-align: center;
  font-size: 100px;
  font-weight: 900;
}

.question-title {
  font-size: 30px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.question-styling {
  margin: 60px 0 60px 0;
}

// .row {
//   position: absolute;
//   top: 200px;
// }

// .index-title-font {
//   position: absolute;
//   top: 300px;
//   color: white;
//   font-size: 20px;
//   margin-left: 20px;
//   font-weight: 600;
//
// }

//WITCH NEW PAGE//
#timer {
  font-size: 80px;
  color: white;
  text-align: center;
}

.select-title {
  margin-top: 20px;
}

.teal {
    background-color: black !important;
}

.prank-title {
  color: white;
  margin-left: 40px;
}



 // * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 // * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 // * files in this directory. Styles in this file should be added after the last require_* statement.
 // * It is generally better to create a new file per style scope.
 // *
 // *= require_tree .
 // *= require_self
 // */
