<h1 class="animated fadeOut madlib-word title">ALMOST THERE</h1>

<div class="question-styling">

<h2 class="question-title animated shake">CHOOSE A CATEGORY TO PROCEED</h2>
</div>

<div class="column-color">
 <div class="row">
   <div class="col s12 m6">
     <div class="card">
       <div class="card-image">
         <img src="assets/witch_image.jpg">
         <!-- <span class="card-title animated shake category-button">MEOW</span> -->
         <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
       </div>
       <div class="card-content">
         <a><%= link_to "WITCHES", witches_new_path, class: 'waves-effect waves-light black btn'%></a>
       </div>
     </div>
   </div>
 </div>
</div>


<div class="column-color">
 <div class="row">
   <div class="col s12 m6">
     <div class="card">
       <div class="card-image">
         <img src="assets/ghost_image.jpg">
         <!-- <span class="card-title animated shake category-button">BOO</span> -->
         <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
       </div>
       <div class="card-content">
         <a><%= link_to "GHOSTS", ghosts_new_path, class: 'waves-effect waves-light black btn' %></a>
       </div>
     </div>
   </div>
  </div>
 </div>

<div class="column-color">
 <div class="row">
   <div class="col s12 m6">
     <div class="card">
       <div class="card-image">
         <img src="assets/doll_image.jpg">
         <!-- <span class="card-title">HELLO PRETTY</span> -->
         <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
       </div>
       <div class="card-content">
         <a><%= link_to "DOLLS", dolls_new_path, class: 'waves-effect waves-light black btn' %></a>
       </div>
     </div>
   </div>
  </div>
 </div>

<div class="column-color">
 <div class="row">
   <div class="col s12 m6">
     <div class="card">
       <div class="card-image">
         <img src="assets/sk_image.jpg">
         <!-- <span class="card-title">Card Title</span> -->
         <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
       </div>
       <div class="card-content">
         <a><%= link_to "SERIAL KILLERS", sk_new_path, class: 'waves-effect waves-light black btn' %></a>
       </div>
     </div>
   </div>
  </div>
 </div>
