<!DOCTYPE html>
<html>
  <head>
    <title>FrightOMatic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  


    <meta charset="utf-8">

    <title></title>

    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <!-- <script language="javascript" type="text/javascript" src="views/new_witch.erb"></script> -->


  </head>

  <body>

    <%= yield %>


  </body>
</html>
